.row
  .col-md-12
    %h3
      Colunistas
%br/
.row
  .col-md-12.article-home.no-padding
    - @authors.each do |author|
      .col-md-2
        - if author.avatar
          = link_to image_tag("/images/authors/#{author.avatar}",:title=> "#{author.name}",:alt=>"#{author.name}", :class=> "img-thumbnail", :style=>"width:100%;height: 204px;"), "/artigos?by_author=#{author.id}"
        - else
          = link_to image_tag("/images/avatar.jpg",:title=> "#{author.name}",:alt=>"#{author.name}", :class=> "img-thumbnail", :style=>"width:100%;height: 204px;"), "/artigos?by_author=#{author.id}"
  .col-md-12
    %h3
      Últimos Artigos
%br/
.row
  .col-md-12.article-home.no-padding
    - @articles.each do |article|
      .col-md-12
        %span
          = article.created_at.strftime('%d/%m/%Y')
        %span
          = link_to article.author.name, articles_path(by_author: article.author_id) if article.author.present?
        %h4
          %b= link_to article.title, article_path(article)
