.row
  .col-md-12
    %b Total de artigos migradoss:
    #{@articles.count}
%hr/
.row
  .col-md-12
    = simple_form_for url_for, method: :get do |f|
      .row
        .col-md-10
          = f.input :by_title, label: "Título", input_html: { placeholder: "Digite um termo para realizar a busca", name: 'by_title', value: params[:by_title]}
        .col-md-2
          = f.submit "realizar pesquisa", name: nil, class: 'btn btn-primary filter-button btn-sm'
      .row
        .col-md-10
          = f.input :by_category, label: "Categorias", as: :select, collection: ::ArticleCategory.all.order(:name), input_html: {name: :by_category}, selected: params[:by_category]
        .col-md-2
          = f.submit "realizar pesquisa", name: nil, class: 'btn btn-primary filter-button btn-sm'
%br/
.row
  .col-md-12
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Titulo
          %th Autor
          %th Data
      %tbody
        - @articles.each do |article|
          %tr
            %td
              %b= link_to article.title, article_path(article)
            %td= article.author.name if article.author.present?
            %td= article.created_at.strftime("%d/%m/%Y")
.row
  .col-md-12
    = will_paginate @articles, renderer: BootstrapPagination::Rails
