= link_to "voltar", articles_path
.row
  .col-md-9
    .content-title
      Categoria do artigo
      %h1
        %b= @article.title
    %hr/
    .content-author
      .row
        .col-md-4
          .row
            .col-md-3
              - if @article.author.avatar
                = image_tag("/images/authors/#{@article.author.avatar}",:title=> "#{@article.author.name}",:alt=>"#{@article.author.name}", :class=> "img-thumbnail", size:'40x40')
              - else
                = image_tag("/images/avatar.jpg",:title=> "#{@article.author.name}",:alt=>"#{@article.author.name}", :class=> "img-thumbnail", size:'40x40')
            .col-md-9
              %i= @article.author.name if @article.author.present?
        .col-md-4{style: 'text-align: center !important'}
          %b anúncie aqui
        %div{style:'padding-top:10px'}

    %hr/
    .content-text
      = html_escape_once(@article.content).gsub("\n", "\r\n<br/>").html_safe
    .content-recommendation
