.row
  .col-md-12
    %b Total de artigos migrados:
    #{@authors.count}
%hr/
.row
  .col-md-12
    = simple_form_for url_for, method: :get do |f|
      .row
        .col-md-10
          = f.input :by_name, label: "Nome", input_html: { placeholder: "Digite um termo para realizar a busca", name: 'by_name', value: params[:by_name]}
        .col-md-2
          = f.submit "realizar pesquisa", name: nil, class: 'btn btn-primary filter-button btn-sm'
%br/
.row
  .col-md-12
    %table.table.table-striped.table-bordered
      %thead
        %tr 
          %th Nome do autor
          %th Qtd. de publicações
      %tbody 
        - @authors.order(:name).each do |author|
          %tr
            %td
              %b= link_to author.name, articles_path(by_author: author.id)
            %td= author.articles.count
.row
  .col-md-12
    = will_paginate @authors, renderer: BootstrapPagination::Rails