!!!
%html
  %head
    %title Portal
    = stylesheet_link_tag    "portal", media: "all"
    = javascript_include_tag "portal"
    = csrf_meta_tags
  %body
    = render 'layouts/portal/nav'
    .container{'style':'margin-top: 40px; margin-bottom: 40px;'}
      = yield